body {
    background-color: rgb(179, 255, 153);

}
label{
    color: white;
}
#titulo {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 .1rem rgb(0, 0, 0),
        inset 0 0 0.9rem #000000;
}

#formato {
    background-color: #17c0a9;
    border-color: black;
    text-align: center;
    color: white;
}


#encabezado {
    background-color: #ff857c00;
    width: 800px;
    margin: auto;
}

#cabecera {
    background-color: #17c0a9;
    width: 800px;
    margin: auto;
    color: white;
    color: white;
    text-shadow:
        0 0 2px #000000,
        0 0 3px #000000,
        0 0 5px #000000;
    box-shadow: 
        inset 0 0 0.6rem #000000;
}

.cuerpoForma {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}




hr {
    width: auto;
}

button {
    width: 100px;
    height: 20px;
    border-radius: 1em;
    border: 1px solid #fff;
    

}

.inputsresultados {
    padding-left: 80px;
    
}

#domicilios {
    display: flex;
}

label{
    padding-left: 20px;
    padding-right: 20px;
}
h3{
    padding-left: 20px;
    padding-right: 20px;
}
input {
    box-shadow:black
}

#btnBuscar, #btnLimpiar{
    background-color: rgb(116, 56, 181);
    color: white;
    text-align: center;
    width: 120px;
    cursor: pointer;
}

button:hover{
color: white;
    transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
            0 0 0.3rem #00ff2f,
            0 0 0.4rem #00ff2f,
            0 0 0.5rem #00ff2f,
            inset 0 0 0.6rem #00ff2f;
        border-radius: 20px;
    
        color: #fff;
        text-shadow:
            0 0 10px #00ff2f,
            0 0 15px #00ff2f,
            0 0 20px #00ff2f;
}